[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"
flake8-bugbear = "*"
rope = "*"
coverage = {extras = ["toml"],version = "*"}
pytest = "*"
pytest-cov = "*"
pytest-freezegun = "*"
black = "*"

[packages]
pymongo = "~=3.10"
colorlog = "~=4.2"
schedule = "~=0.6"
pysftp = "~=0.2"
slackclient = "~=2.5"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
