[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
coverage = {extras = ["toml"],version = "*"}
flake8 = "*"
flake8-bugbear = "*"
mypy = "*"
pika-stubs = "*"
pytest = "*"
pytest-cov = "*"
pytest-freezegun = "*"
types-python-dateutil = "*"
responses = "*"

[packages]
colorlog = "~=6.7"
flask = "~=2.3"
flask-apscheduler = "~=1.12"
gunicorn = "~=20.1"
more-itertools = "~=9.1"
mysql-connector-python = "~=8.0"
pandas = "~=2.0"
pika = "~=1.3"
pymongo = "~=4.4"
pymysql = "~=1.0"
pyodbc = "~=4.0"
pysftp = "~=0.2"
python-dotenv = "~=1.0"
requests = "~=2.31"
slackclient = "~=2.9"
sqlalchemy = "~=2.0"
lab-share-lib = { git = 'https://github.com/sanger/lab-share-lib.git', ref = 'v0.1.6', editable = false }

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
black = 'black'
mypy = 'mypy'
flake8 = 'flake8'
test = 'python -m pytest -vx'
